<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Egyedi CSS fájl hivatkozása -->
    <link rel="stylesheet" th:href="@{/css/style-doctors.css}">
    <!-- JavaScript hivatkozás -->
    <script th:src="@{/js/style-doctors.js}"></script>

</head>
<body>

<div class="header header-first-row form-inline">
    <span th:text="${currentUser}" class="mr-3"></span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="logout" value="Logout" class="btn btn-primary">
    </form>
</div>
<button type="button" class="btn btn-secondary" onclick="history.back()">Vissza</button>
<!-- A választott szakirány nevének megjelenítése a képernyő közepén -->
<div class="text-center mt-3">
    <h2>Választott szakirány: <span th:text="${selectedAreaName}"></span></h2>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-3">
            <label class="form-label">Elérhető orvosok</label>
            <select class="selectpicker" data-width="100%" th:field="*{doctorsForArea}" id="doctor-select" multiple data-actions-box="true" title="Please select" data-selected-text-format="count > 3" required onchange="toggleSubmitButton()">
                <option th:each="doctor : ${doctorsForArea}" th:value="${doctor.userId}" th:text="${doctor.firstName + ' ' + doctor.lastName}"></option>
            </select>
            <form id="doctor-form" th:action="@{/send-data}" method="post">
                <input type="hidden" id="selected-doctors-ids" name="selectedDoctors" />
                <button type="submit" class="btn btn-primary" id="submit-button" disabled style="margin-top: 100px;">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="d-flex align-items-center mb-3">
                <button id="prev-week-button" class="btn btn-primary mr-2">Előző hét</button>
                <button id="next-week-button" class="btn btn-primary">Következő hét</button>
                <p id="current-week-dates" class="ml-auto mb-0"></p>
            </div>
            <div id="calendar">
                <table>
                    <tr>
                        <th></th>
                        <th>Hétfő</th>
                        <th>Kedd</th>
                        <th>Szerda</th>
                        <th>Csütörtök</th>
                        <th>Péntek</th>
                        <th>Szombat</th>
                        <th>Vasárnap</th>
                    </tr>
                    <tr >
                        <td>08:00 - 08:30</td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive weekend"></td>
                        <td class="inactive weekend"></td>
                    </tr>
                    <tr >
                        <td>08:30 - 09:00</td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive weekend"></td>
                        <td class="inactive weekend"></td>
                    </tr>
                    <tr >
                        <td>09:00 - 09:30</td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive weekend"></td>
                        <td class="inactive weekend"></td>
                    </tr>
                    <tr >
                        <td>09:30 - 10:00</td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                        <td class="inactive weekend"></td>
                        <td class="inactive weekend"></td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Szabad időpontok:</h3>
            <div id="freeTimeSlots">
                <!-- A view oldalon, pl. some-page.html -->
                <p>Received selectedDoctorIds: ${selectedDoctorIds}</p>

                <!-- Itt jelenítjük meg a szabad időpontokat -->
            </div>
        </div>
    </div>
</div>

</body>
</html>
