<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MSS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Registration</title>
</head>

<body>

<div class="header">
    <span th:text="${currentUser == null ? '' : currentUser}">Hello Mister!</span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="logout" value="Logout" class="btn btn-primary">
        <a href="home.html">
            <button class="btn btn-primary">Home</button>
        </a>
    </form>
</div>

<form th:action="@{/saveData}" method="post" class="row g-3 needs-validation registration-form-frame"
      >
    <div class="row">
        <div class="col-md-4">

            <div class="header-1-view">
                <h1>Felhasználói adatok szerkesztése</h1>
            </div>

            <input type="text" class="form-control" id="test" th:field="${test}"
                   placeholder="Gábor" required>

            <div class="row">

                <div class="col-md-12">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" th:field="${client.firstName}"
                           placeholder="Gábor" required>
                    <span class="validatorError" th:text="${firstNameError} == null ? '' : ${firstNameError}"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" th:field="${client.lastName}"
                           placeholder="Kovács" required>
                    <span class="validatorError" th:text="${lastNameError} == null ? '' : ${lastNameError}"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <label for="emailAddress" class="form-label">Email address &nbsp&nbsp&nbsp <I>(If you will edit the
                        email, please write to admin!)</I></label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend"
                              style="background-color: lightgray;">@</span>
                        <input type="text" class="form-control" id="emailAddress" aria-describedby="inputGroupPrepend"
                               th:field="${client.email}" placeholder="gaborkovacs@gmail.com" required readonly
                               style="background-color: lightgray;">
                    </div>
                    <span class="validatorError" th:text="${emailError} == null ? '' : ${emailError}"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" th:field="${client.password}"
                           placeholder="Minimum 6 characters, contain at least 2 numbers and 2 letters" required>
                    <span class="validatorError" th:text="${passwordError} == null ? '' : ${passwordError}"></span>

                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <label for="passW" class="form-label">Password again</label>
                    <input type="password" class="form-control" id="passW"  th:field="${passW}"
                           placeholder="Minimum 6 characters, contain at least 2 numbers and 2 letters" required>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-select" th:field="${client.gender}" id="gender" required>
                        <option th:each="g : ${genderList}" th:value="${g.id}" th:text="${g.gender}">Male</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="placeOfBirth" class="form-label">Place of Birth</label>
                    <input type="text" class="form-control" id="placeOfBirth" th:field="${client.placeOfBirth}"
                           placeholder="Budapest" required>
                    <span class="validatorError" th:text="${birthplaceError} == null ? '' : ${birthplaceError}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="dateOfBirth" th:field="${client.dateOfBirth}" required>
                    <span class="validatorError"
                          th:text="${dateOfBirthError} == null ? '' : ${dateOfBirthError}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="mothersName" class="form-label">Mother's Name</label>
                    <input type="text" class="form-control" id="mothersName" th:field="${client.mothersName}"
                           placeholder="Kovács Erzsébet" required>
                    <span class="validatorError" th:text="${motherNameError} == null ? '' : ${motherNameError}"></span>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="TAJNumber" class="form-label">TAJ number</label>
                    <input type="text" class="form-control" id="TAJNumber" th:field="${client.TAJNumber}"
                           placeholder="123-456-789" required>
                    <span class="validatorError" th:text="${tajError} == null ? '' : ${tajError}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="phoneNumber" class="form-label">Phone number</label>
                    <input type="text" class="form-control" id="phoneNumber" th:field="${client.phoneNumber}"
                           placeholder="06309876543" required>
                    <span class="validatorError" th:text="${phoneError} == null ? '' : ${phoneError}"></span>
                </div>
            </div>


            <p>
            <div>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
            </p>

            <div style="display: none">
                <input type="text" class="form-control" id="userId" th:field="${client.userId}"
                       placeholder="43" required>
                <input type="text" class="form-control" id="active" th:field="${client.active}"
                       placeholder="false" required>
                <input type="text" class="form-control" id="roles" th:field="${client.roles}"
                       placeholder="false" required>
                <input type="text" class="form-control" id="registrationDate" th:field="${client.registrationDate}"
                       placeholder="false" required>
            </div>

        </div>
        <div class="col-md-8">
            <img src="/css/registration_1920x600.jpg" class="img-fluid" alt="Profil szerkesztése">
        </div>
    </div>

</form>


<!--
    <input type="text" class="form-control" id="languages" th:field="${languages}"
           placeholder="false" required>
           -->


</body>
</html>