<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MSS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Edit Registration</title>
</head>

<body>

<div class="header">
    <span th:text="${currentUser == null ? '' : currentUser}">Hello Mister!</span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="logout" value="Logout" class="btn btn-primary">
        <a href="home.html">
            <button class="btn btn-primary">Home</button>
        </a>
    </form>
</div>

<form th:action="@{/saveData}" method="post"
      class="row g-3 needs-validation registration-form-frame">
    <div class="row">
        <div class="col-md-4">
            <div class="header-1-view">
                <h1>Felhasználói adatok szerkesztése</h1>
            </div>
            <label for="firstName" class="form-label" th:text="${name.user.firstName}">fN</label>
            <input type="text" class="form-control" id="firstName" name="user.firstName" th:value="*{name.user.firstName}"
                   required>
            <div>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>

</body>
</html>