<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS hivatkozás -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Saját CSS fájl (style-home.css) -->
  <link rel="stylesheet" th:href="@{/css/style-home.css}">
    <title>Admin board</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
  <input type="submit" th:value="logout" value="Logout" class="btn btn-primary">
</form>

<form th:action="@{/getAllClients}" method="get">
  <input type="submit" value="Get all clients" class="btn btn-primary"/>
</form>
<form th:action="@{/getActiveClients}" method="get">
  <input type="submit" value="Get active clients" class="btn btn-primary"/>
</form>

<form th:action="@{/getInActiveClients}" method="get">
  <input type="submit" value="Get inactive clients" class="btn btn-primary"/>
</form>

<form th:action="@{/filterClientByName}" method="get">
  <div class="row">
    <input type="text" name = "name" th:value="${name}" id = "name" />
    <input type="submit" value="Filter by name" class="btn btn-primary"/>
  </div>
</form>

<form th:action="@{/filterClientByLastName}" method="get">
  <div class="row">
    <input type="text" name = "name" th:value="${name}" />
    <input type="submit" value="Filter by lastname" class="btn btn-primary"/>
  </div>
</form>

<form th:action="@{/getDoctors}" method="get">
  <input type="submit" value="Get Doctors" class="btn btn-primary"/>
</form>


<div class="container height_100">
  <div class="row height_100">
    <div class="col-md-12 my-auto mx-auto">
      <div class="text-center">

       <span> <h1 th:if = ${clientIsActive} >All clients</h1></span>
        <span> <h1 th:if = ${activeClientIsActive} >Active clients</h1></span>
        <span> <h1 th:if = ${inactiveClientIsActive} >Inactive clients</h1></span>
        <span> <h1 th:if = ${doctorIsActive} >Doctors</h1></span>
        <span> <h1 th:if = ${filterByFullNameIsActive} >Result of filtering by full name</h1></span>
        <span> <h1 th:if = ${filterByLastNameIsActive}>Result of filtering by lastname</h1></span>
        <span> <h1 th:if = ${isEmpty} >No match found</h1></span>


        <br><br>
      </div>
    </div>
    <div class="container" th:if = ${!isEmpty}>
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <table class="table caprion-top">
            <thead>
            <tr class="border-bottom">
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Is Active</th>
              <th>Details</th>
              <th>Modify</th>
              <th>Delete</th>

            </tr>
            </thead>
            <tbody>
            <tr class="border-bottom" th:object="${user}" th:each="user, stat: ${userList}" >

              <td th:text="${stat.count}">1</td>
              <td th:text="*{firstName}"></td>
              <td th:text="*{lastName}"></td>
              <td th:text="*{email}"></td>
              <td th:text="*{phoneNumber}"></td>

              <td th:text="*{active}"></td>
              <td class="text-center">
                <form th:action="@{details(id=${user.userId})}" method="post">
                  <input type="submit" value="Details" class="btn btn-dark"/>
                </form>
              </td>
              <td class="text-center">
                <form th:action="@{modify(id=${user.userId})}" method="post">
                  <input type="submit" value="Modify" class="btn btn-warning"/>
                </form>
              </td>
              <td class="text-center">
                <form th:action="@{deleteById(id=${user.userId})}" method="post">
                <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
              </td>

</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

</body>
</html>