<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap CSS hivatkozás -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Saját CSS fájl (style-home.css) -->
    <link rel="stylesheet" th:href="@{/css/style-home.css}">
    <!-- JavaScript hivatkozás -->
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
<div class="header">
    <span th:text="${currentUser == null ? '' : currentUser.getLastName + ' ' + currentUser.getFirstName }">Hello Mister!</span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="logout" value="Logout" class="btn btn-primary">

    </form>
    <form th:action="@{/edit}" method="get">
        <input type="submit" th:value="edit_profil" value="edit_profil" class="btn btn-primary">
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4" th:each="expertise : ${areaOfExpertiseList}">
            <div class="row">
                <div class="col-lg-12">
                    <h3 th:text="${expertise.qualification}"></h3>
                    <div class="card">
                        <div class="card-body">
                            <p th:text="${expertise.basicInformation}"></p>
                            <p th:unless="${not #lists.isEmpty(expertise.users)}" style="font-weight: bold; font-size: 16px; color: red;">
                                Még nincs hozzárendelt orvos.
                            </p>

                            <div class="form-group" th:if="${not #lists.isEmpty(expertise.users)}">
                                <div class="form-group">
                                    <a th:href="@{/doctors(areaId=${expertise.id})}" class="select-doctor-link">Válasszon orvost</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
